/production-export-2025-11-04t14-27-00-000z/*
/production-export-2025-11-09t12-26-16-007z/*
/production-export-2025-11-13t12-26-16-007z/*
/production-export-2025-11-13t13-42-48-005z/*
/production-export-2025-11-14t12-58-07-436z/*


# Python general ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Mac specific ignores
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Backup files
*~
*.swp
*.swo
*.bak
*.tmp


/downloads/*
*.csv
*.png
*.html

# Video making folder
# /video_making/
*.mp4
